[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.7"
pillow = "*"
django-ckeditor = "*"
django-recaptcha3 = "*"
django-modeltranslation = "*"
django-allauth = "*"
djangorestframework = "*"
psycopg2 = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"

[requires]
python_version = "3.8"
