{% load i18n movie_tag %}
<header class="header">
    <div class="container-fluid px-lg-5">
        <!-- nav -->
        <nav class="py-4">
            <div id="logo">
                <h1><a href="{% url 'main_page' %}" class="editContent"
                       style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: Source Sans Pro;, sans-serif;">Movie Guide</a>
                </h1>
            </div>

            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop">
            <ul class="menu mt-2">
                <li ><a href="{% url 'main_page' %}">{% trans 'Главная' %}</a></li>
                <li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-2" class="toggle">{% trans 'Категории' %} <span
                            class="fa fa-angle-down" aria-hidden="true"></span> </label>
                    <a href="#">{% trans 'Категории' %} <span class="fa fa-angle-down"
                                                aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-2">
                    <ul>
                        {% get_categories as categories %}
                        {% for category in categories %}
                            <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    {% if user.is_authenticated %}

                        <a href="{% url 'profile' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            {% trans 'Профиль' %}</a>
                        <a href="{% url 'exit' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                             {% trans 'Выйти' %}</a>
                    {% else %}
                        <a href="{% url 'reg' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            {% trans 'Регистрация' %}</a>
                        <a href="{% url 'log' %}"
                           style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">
                            {% trans 'Войти' %}</a>
                                                <span>{{ user.username }}</span>
                    {% endif %}
                </li>
                <li>
                    <form id="language_form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input  name="next" type="hidden" value="{{ redirect_to }}">
                        <select name="language"  onchange='ChangeLang()' style="opacity: 0.7">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"
                                        {% if language.code == LANGUAGE_CODE %}
                                        selected{% endif %} style="opacity: 0.7">
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </li>
            </ul>
        </nav>
        <!-- //nav -->
    </div>
</header>
<!-- //header -->
<!--/banner-->
<div class="banner-info">
    <p class="editContent">{% trans 'Самые свежие новинки киноиндустрии' %}</p>
    <h3 class="mb-4 editContent">{% trans 'Все о кино' %}</h3>
    <div class="ban-buttons">


    </div>
</div>
<!--// banner-inner -->