{% extends 'movies/base.html' %}
{% load i18n movie_tag %}
{% load crispy_forms_tags %}
{% block title %} {% endblock title %}
{% block header %} bg1 {% endblock header %}

{% block movie %}
    <div class="form-section">
        <h2>{% trans 'Регистрация на сайте' %}</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form| crispy }}
            <button type="submit" class="btn btn-outline-warning">{% trans 'Зарегестрироватся' %}</button>
        </form>
        <hr>{% trans 'Вы уже зарегестрированы ?' %}
         <a href="{% url 'log' %}">{% trans 'Войти в личный кабинет' %}</a>

    </div>
{% endblock movie %}